<!-- About Section -->
    <section id="abstract">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                    <h4 class = "Abstract">
                      <div class= "text-corps">
                        <ul>
                        

                        Since September 11 2001, terrorism has been in the headlines around the globe. A general fear reappears every few years as events labeled as "terrorist attacks" occur. Certain parties have gained in popularity in the past few years, often using the anxiety of "dangerous terrorists" as a pretext to defend anti-immigrant policies. Have terrorist attacks increased in the past years as we are lead to believe? or has the rate been more or less constant? Are foreigners or immigrants really more likely to commit these terrorist attacks? News coverage plays a big role in how we perceive these events, some events are debated and discussed during weeks, while others are never mentioned. We want to explore the rate and distribution of these attacks over the world, and dive into their news coverage in the western hemisphere.
                        </ul>
                      </div>
                    <h4 class = "section-subheading">Research Questions</h4>
                    <div class= "text-corps">
                      <ul>
                        <li>Have the terrorist attack rates, motives, locations, changed over the past 50 years? </li>
                        <li>Where do terrorist attacks occur? </li>
                        <li>Who commit terrorist attacks and by what motive? </li>
                        <li>How are is global terrorism depicted in some selected popular western newpapers? </li>
                      </ul>
                    </div>
                    <h4 class = "section-subheading">Sources</h4>
                    <div class= "text-corps">
                    Global Terrorism Database

                    This database is a collection of facts about terrorist attacks from 1970-2017. The facts cover location, date, motive, and who claimed the attack and a very large variety of other very specific metrics. <a href="https://www.kaggle.com/START-UMD/gtd"></a>.

                    All the news

                    This database is a collection of news coverage from CNN, New York Times, Breitbart, Fox news, the Guardian, <a href="https://www.kaggle.com/snapcrack/all-the-news#articles3.csv"></a>

                    New York Times articles

                    As the amount of articles from all the news resulted in a rather narrow dataset, we decided to merge the articles found so far with another dataset. We had to narrow down the diversity of publishers and chose to start using only New York Times articles. 
                    </div>
                </div>
            </div>
        </div>
    </section>
