<!-- Data Section -->
<section id="datastory">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Datastory</h2>

                  <div class= "text-corps">
                    To be (a terrorist) or not to be? GTD Definition of Terrorism and Inclusion Criteria. The GTD defines a terrorist attack as the threatened or actual use of illegal force and violence by a non-state actor to attain a political, economic, religious, or social goal through fear, coercion, or intimidation. In practice this means in order to consider an incident for inclusion in the GTD, all three of the following attributes must be present: <br/>
                    The incident must be intentional – the result of a conscious calculation on the part of a perpetrator. 
                    The incident must entail some level of violence or immediate threat of violence -including property violence, as well as violence against people. <br/>
                    The perpetrators of the incidents must be sub-national actors. 
                    The database does not include acts of state terrorism. In addition, at least two of the following three criteria must be present for an incident to be included in the GTD: <br/>
                    criterion1: The act must be aimed at attaining a political, economic, religious, or social goal. In terms of economic goals, the exclusive pursuit of profit does not satisfy this criterion. It must involve the pursuit of more profound, systemic economic change. <br/>
                    criterion2: There must be evidence of an intention to coerce, intimidate, or convey some other message to a larger audience (or audiences) than the immediate victims. It is the act taken as a totality that is considered, irrespective if every individual involved in carrying out the act was aware of this intention. As long as any of the planners or decision-makers behind the attack intended to coerce, intimidate or publicize, the intentionality criterion is met. <br/>
                    criterion3: The action must be outside the context of legitimate warfare activities. That is, the act must be outside the parameters permitted by international humanitarian law, insofar as it targets non-combatants

                  </div>

                  <h4 class = "section-subheading"> Have the terrorist attack rates, motives, locations, changed over the past 50 years? <br/> <br/> </h4>

                    <h5> Evolution of number of terrorism attacks in the last 50 years </h5>

                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/CountAttacks.html"></iframe>

                    <div class="text-corps">
                     This graph generally shows an increase of number of attacks over the past 50 years. We can also see that the data scraped in attempt to complete the events from 1993 is not comparable to the number of events recorded for the other years. Specific norms for data collection are absent before 1997, therefore, we will focus on the years 1997-2017 for the following analysis. The trend in the early 2000’s was relatively low, which may come as a surprise as this is when terrorism became a hot topic. Between 2013-2017, the number of attacks have decreased. This could partially be due to change in legislative regulations. But is this a global trend?
                    </div>

                    <h4 class = "section-subheading"> <br/> Casualtie per year<br/>  </h4>
                    <iframe width = '1000' height = '550' frameborder="0" scrolling="no" src="img/CasualtiesPerYearSub.html"></iframe>

                    <div class="text-corps">
                      The number of casualties seem to follow the same trend as the number of attacks, except for 2001, where we have an important peak in deaths and wounded victims. This peak relates to the 9/11 terror attacks, we can see that in terms of damage either related to human casualties or property, this was one of the major events in the decennia. However, in more recent events, the total number of casualties almost doubled in comparison to the memorable event of 9/11. <br/>
                      The plot on the right depicts the magnitude of violence of the terror attacks by normalizing the amount of casualties to the number of attacks. The peaks clearly depict the single deadliest terrorist acts. Interestingly, after 2008 the number of casualties per attack seemed to decrease. We could hypothesize that this reflects the consequences of counter-terrorism or that the terrorist’s tactics have evolved. Very large scale attacks such as 9/11 are probably not as easy to reproduce anymore due to the increased security in the air traffic. On top of that, most countries that are not actively involved in conflicts have given more importance to foreign defence. <br/>
                    </div>
                    <div class="text-corps">
                    <a href="https://www.un.org/counterterrorism/ctitf/en/un-global-counter-terrorism-strategy">https://www.un.org/counterterrorism/ctitf/en/un-global-counter-terrorism-strategy</a> <br/>
                    <a href="https://www.un.org/en/chronicle/article/securing-our-future-decade-counter-terrorism-strategies">https://www.un.org/en/chronicle/article/securing-our-future-decade-counter-terrorism-strategies</a> <br/>
                    <a href="https://www.nato.int/cps/en/natohq/topics_77646.htm">https://www.nato.int/cps/en/natohq/topics_77646.htm</a>
                    
                    </div>


                    <h4 class = "section-subheading"> <br/> Property dammage per year<br/>  </h4>
                    <iframe width = '1000' height = '550' frameborder="0" scrolling="no" src="img/PropretyPerYearSub.html"></iframe>

                    <div class="text-corps">
                      Concerning property damage, we can clearly see a peak in 2001, representing the destruction of the World Trade Center in New York and its surroundings. The destruction of the Twin Towers, in terms of physical goods, is the largest damage that any terror group has achieved so far. When combining the material loss and huge human death toll, 9/11 still is the most traumatic event of these last 20 years. 
                    </div>
                    

                    <h4 class = "section-subheading"> <br/> Targets <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/SubTargets.html"></iframe>

                    <div class="text-corps">
                      DESCRIPTION
                    </div>




                  <h4 class = "section-subheading"> Where do terrorist attacks occur? <br/> <br/> </h4>

                  <h4 class = "section-subheading"> <br/> Distribition of terrorist attacks in the world <br/>  </h4>
                  <iframe width = '1000' height = '700' frameborder="0" scrolling="no" src="img/TerrorismPlot.html"></iframe>

                    <div class="text-corps">
                      Since 2004, the country with the highest number of casualties is clearly Iraq, rapidly followed by Afghanistan and Pakistan. Middle East is the theatre of a large variety of complex conflicts, in particular during these last few years. Religion, ethnic, political and ideological conflicts are still ongoing in the Middle East. It may be interesting to keep in mind that USA was involved in most of these conflicts and wars... We can see that some African countries are also in very instable political situations, such as Nigeria and Somalia, from 2011 onwards.
                    </div>




                  <h4 class = "section-subheading"> Who commit terrorist attacks and by what motive? <br/> <br/> </h4>

                    <h4 class = "section-subheading"> <br/> Most active groups of terrorists in the world <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/MostActiveGroups.html"></iframe>

                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Most targetted types by active groups of terrorists<br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/MostActiveTarget.html"></iframe>

                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Favorite weapons of active groups of terrorists in the world <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/MostActiveGroupsWeapons.html"></iframe>

                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Repartion of attacks per contienents of the most active groups of terrorists<br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/100mostactive_continent.html"></iframe>

                    <h4 class = "section-subheading"> <br/> Groups per continents <br/>  </h4>
                    <img src="img/WordMap.png" alt="">

                    <div class="text-corps">
                      DESCRIPTION
                    </div>


                  <h4 class = "section-subheading"> How are is global terrorism depicted in some selected popular western newpapers? <br/> <br/> </h4>

                    <h4 class = "section-subheading"> <br/> Themes covared with terrorism <br/>  </h4>
                    <img width = '800' height = '300' src="img/article_themes_wordcould.png" alt="">
                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Themes per continents <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/RadarChartSub.html"></iframe>

                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Article Covarage <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/ArticleCoveragePlot.html"></iframe>

                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Article length <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/WordCountPerArticlePlot.html"></iframe>
                    
                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Most active groups in Iraq <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/Iraq_5groups_years.html"></iframe>


                    <div class="text-corps">
                      DESCRIPTION
                    </div>

                    <h4 class = "section-subheading"> <br/> Themes scores for Iraq or US <br/>  </h4>
                    <iframe width = '1000' height = '800' frameborder="0" scrolling="no" src="img/ALL_score_IR_US.html"></iframe>

                    <div class="text-corps">
                      DESCRIPTION
                    </div>
                    
            </div>
        </div>
    </div>
</section>
