<!-- Data Section -->
<section id="datastory">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Datastory</h2>

                  <div class= "text-corps">
                    We are focusing on some shit
                  </div>

                  <h4 class = "section-subheading"> Have the terrorist attack rates, motives, locations, changed over the past 50 years? <br/> <br/> </h4>

                    <h5>Evolution of number of terrorism attacks in the last 50 years</h5>
                    {% include CountAttacks.html %}
                    {% include MostActiveGroupsWeapons.html %}
                    {% include MostActiveGroupsTarget.html %}

                    <h4 class = "section-subheading"> <br/> Casualtie per year<br/>  </h4>
                    {% include CasualtiesPerYear.html %}
                    
                    <h4 class = "section-subheading"> <br/> Average Casualtie per attack per year<br/>  </h4>
                    {% include AvCasualtiesPerYear.html %}
            </div>
        </div>
    </div>
</section>
