<!-- About Section -->
<section id = "limitation" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conclusion and Limitations</h2>
                  <div class= "text-corps"> 
                    OOur main limitation concerns the articles dataset. Indeed, most articles in the database were published between 2017, making our dataset very unbalanced. This has a great impact on news coverage in time, causing any plot with analysis in time of coverage of terror attacks coverage before 2015 to have few data points. Unfortunately, the plots are therefore not as representative  as we would have wished. </b>
Another concern about this dataset is about the selection of the articles that may concern terrorism. As the dictionary used to chose the themes that the articles address is composed by terrorism related terms, it is sometimes possible that the accuracy of selection is not ideal. It would be interesting to find a tool that could better discriminate between the articles. A classifier would have be a useful tool, but unfortunately we didn’t have article’s themes labeled, and labeling the articles by ourselves would have been an impossible task. Furthermore the definition of Terrorism is a very complex one as mentioned in the beginning. Labeling the dataset would have been biased as to our personal perception of which event is considered as terrorism. </b>
Another problem encountered was during the extraction of countries from the content of the articles, it wasn’t possible for us to know if the countries extracted are the country where the attack took place or if they were just mentioned in the text for other reasons.  General semantic analysis would have been required to extract this information.


                  </div>
            </div>
        </div>
    </div>
</section>
